
.game-container {
    background: linear-gradient(to top, transparent, #1a1a1a);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
  }

  .game-container h2 {
    color: gold;
  }
  
  .thumbnail {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 20vw;
  }
  
  
  .screenshot {
    margin: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  
  .back-link {
    margin-top: 20px;
    border: 2px solid gold;
    width: 120px;
    border-radius: 20px;
  }

.container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(4, 58, 58), rgb(12, 35, 41), rgb(25, 3, 31));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: linear-gradient(to bottom, #06062c91, transparent);
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  background: linear-gradient(to top, #06062c91, transparent);
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: white;
}


.games {
  color: #4ef398;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.games a {
  text-decoration: none;
  color: inherit;
}

.games h1 {
  color: #dbac64;
  font-family: 'Courier New', Courier, monospace;
}

.games button {
  background-color: transparent;
  border: 2px solid gold;
  width: 200px;
  height: 55px;
  border-radius: 20px;
  color: gold;

}

.oneGame {
  display: flex;
  border: 1px solid white;
  margin: 0px 0 50px 0;
  width: 60vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.411), transparent, transparent);
}

.oneGame img {
  width: 22%;
}

.gameDetails {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameDetails a { 
  text-decoration: none;
  color: rgb(219, 196, 138);
}

.gamelist {
  display: flex;
  border: 1px solid white;
  margin: 0px 0 50px 0;
  width: 60vw;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.411), transparent, transparent);
}

.gamelist a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.screenshots-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.screenshots-container img {
  max-width: 600px;
}

@media screen and (max-width: 768px) {

  .oneGame {
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .oneGame h2 {
    font-size: 18px;
  }


  .oneGame img {
    width: 42%;
  }

  .gameDetails {
    width: 100vw;
    
  }

  .gamelist {
    width: 100vw;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }

  .thumbnail {
    width: 60vw;
  }

  .gamelist h2 {
    font-size: 18px;
  }

  .gamelist img {
    width: 42%;
  }

  .container, .main, .game-container{
    min-width: 100vw;
    margin:0;
    padding:0;
  }

  .header .footer .nav {
    margin:0;
    padding:0;
    width: 100vw;
  }
  .screenshots-container {
    width: 100vw;    
  }

  .screenshots-container img {
    width: 90%;
  }
}

